#content_row .col-4 {
    padding: 15px;
    object-fit: contain;
}
#content_row .col-4 p {
    width: 87%;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    height: 30px;
    background: #4aaaa5;
    color: #ffffff;
}

#content_row {
    padding-bottom: 80px;
}